<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <title>Currency Converter!</title>
</head>
<body>
<div class="container">
    <div class="row">
<form>
    <div class="form-group">
        <label for="inputUSD">USD</label>
        <input type="text" class="form-control" id="inputUSD" placeholder="0" value="0">
    </div>
    <div class="form-group">
        <label for="outputRMB">CNY</label>
        <input type="text" class="form-control" id="outputRMB" placeholder="0" readonly>
    </div>
    <button type="button" id="convertButton" class="btn btn-primary">Convert</button>
</form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>